@model IEnumerable<ASP.NET_20_02_2023.Models.Film>
@{
    ViewData["Title"] = "Lista";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Lista</h1>
</div>
<table class="m-auto" style="border:1px solid #ccc">
    <thead>
        <tr class="bg-primary">
            <th class="p-4 pt-2 pb-2">
               Tytuł filmu
            </th>
            <th class="p-4 pt-2 pb-2">
               Reżyser
            </th>
            <th class="p-4 pt-2 pb-2">
               Data dodania
            </th>
            <th class="p-4 pt-2 pb-2">
                Cena
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
        <tr class="p-4">
            <td>
                @film.Tytul
            </td>
            <td>
                @film.Rezyser
            </td>
            <td>
                @film.DataDodania.ToString("yyyy-MM-dd")
            </td>
            <td>
                @film.Cena
            </td>
        </tr>
        }
    </tbody>
</table>
