
@model ASP.NET_20_02_2023.Models.Film
@{
    ViewData["Title"] = "Szczegoly";
    Layout = "_Layout";
}

<aside style="float:left">
    <ul>
        <li>@(await Component.InvokeAsync("FilmyKategoria", new { nazwaKategorii = @Model.Kategoria.Nazwa}))</li>
    </ul>
</aside>
<div style="float:left">
    <div class="text-center">
        <h2 class="display-4">Szczegoly filmu</h2>
    </div>
    <div class="m-auto">

        <p>@Model.Opis</p>

    </div>
</div>
<div style="clear:both"></div>
