@model Film
@{
    ViewData["Title"] = "Szczegoly";
    Layout = "_Layout";
}

<div class="text-center">
    <h2 class="display-4">Szczegoly filmu</h2>
</div>
<div class="m-auto">

        <p>@Model.Opis</p>

</div>
