@model IEnumerable<ASP.NET_20_02_2023.Models.Kategoria>
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <nav>
        @foreach (var kategoria in Model)
        {
            <a href="#">@kategoria.Nazwa</a>
        }
    </nav>
</header>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
