@model IEnumerable<ASP.NET_20_02_2023.Models.Film>
@{
}

<aside>
    @foreach (var film in Model)
    {
            <a href="@Url.Action("Lista", "Filmy", new {film = film.Tytul.ToUpper()})" class="m-4 mt-5 mb-5">@film.Tytul</a>
    }
</aside>
