@model ASP.NET_20_02_2023.Models.KoszykRzecz

<div>
    @foreach (var itemCart in Model.Film)
    {
    <ul>
        <li class="m-auto">
            <p>Tytul</p>
            @Model.Film.Tytul
        </li>
        <li class="m-auto">
            <p>Ilosc</p>
            @Model.Ilosc
        </li>
        <li class="m-auto">
            <p>Cena</p>
            @Model.Wartosc
        </li>
    </ul>
    }
</div>
