@model IEnumerable<KoszykRzecz>

<div>
    @foreach (var itemCart in Model)
    {
    <ul>
        <li class="m-auto">
            <p>Tytul</p>
            @itemCart.Film.Tytul
        </li>
        <li class="m-auto">
            <p>Ilosc</p>
            @itemCart.Ilosc
        </li>
        <li class="m-auto">
            <p>Cena</p>
            @itemCart.Wartosc
        </li>
    </ul>
    }
</div>
